<html>
  <head>
    <meta charset="utf-8">
    <title>Applied Innovations Institute &middot; </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap-responsive" %>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="wrapper">
      
      <div id="header">
      </div>

      <div id="content">
	<p>



<div class="page" id="blog-page" role="main">

      
        <h2 class="pagetitle">About Us</h2>

        <div id="post-1030" class="post-1030 page type-page status-publish hentry">

          <div class="entry">

            <div>

The Applied Innovation Institute was originally founded as the Berkeley Mobile International Collaborative (BMIC) in 2009.&nbsp; The name was changed in the fall of 2012 to reflect the need to extend the idea of learning entrepreneurship through competition beyond the field of mobile and to create an academic side of the organization that would assist faculty around the globe in the field of entrepreneurship.</p>
<p>The concept started life as a Mobile Innovation &amp; Entrepreneurship class, taught by Ken Singer at UC Berkeley in the Fall of 2008 in which students competed in the same way that companies compete for investment dollars. After two successful years of “beta testing” the program, BMIC was formed by Ken Singer, Paul Nerger, and Bill Washburn to take the concepts of the competitive nature of the course and turn it into global competition between universities worldwide.</p>
<p><strong>Team</strong></p>
<ul>
<li>Technical Advisor: Anand Kulkarni</li>
<li>Project Manager: Shino Jomoto</li>
<li>University Outreach: Helen Poldsam</li>
<li>Fund Raising: Bill Templeton (London)</li>
<li>Fund Raising: Ravi Belani (San Francisco)</li>
<li>Fund Raising: Patricia Baumhart(Austin)</li>
</ul>
<p><strong>Board of Directors</strong></p>
<ul>
<li>Paul Nerger from Industry</li>
<li>Ken Singer&nbsp;from the University of California, Berkeley</li>
<li>Bill Washburn from the Stanford University (Retired)</li>
<li>Paris de L’Etraz from the IE (Madrid)</li>
<li>IIkhlaq Sidhu from the University of California, Berkeley</li>
<li>Burghardt Tenderich from the University of Southern Californa</li>
</ul>
<p>the Applied Innovation Institute is headquartered in San Francisco, California. BMIC is a 501(c) organization.</p>
</div>
<p>&nbsp;</p>

                        
          </div>

        </div>

      

            

      
    </div>





      </p>
      </div>

      <div id="footer">
  <%= render "/footer" %>
      </div>

    </div>
  </body>
</html>