<html>
  <head>
    <meta charset="utf-8">
    <title>Applied Innovations Institute &middot; </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap-responsive" %>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="wrapper">
      
      <div id="header">
      </div>

      <div id="content">

<div id="post-1089" class="post-1089 page type-page status-publish hentry">

          <div class="entry">

            <address>
<p style="text-align: left;" align="center">BYLAWS&nbsp;OF &nbsp;the Applied Innovation Institute&nbsp;a California nonprofit public benefit corporation</p>
</address>
<address>&nbsp;<p></p>
<p>Approved by Resolution of the Board of Directors on 4 October 2012</p>
<p>&nbsp;</p>
</address>
<h3>Article I.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Name and Offices</h3>
<h3>Section 1.01&nbsp;&nbsp; Name.</h3>
<address>The name of the organization is the Applied Innovation Institute (the Institute).<p></p>
</address>
<h3>Section 1.02&nbsp;&nbsp; Principal Office; Other Offices.</h3>
<address>The principal office for the transaction of the business of the Institute shall be located at such place as shall be determined by the Board of Directors. The Board of Directors is hereby granted full power and authority to change the principal office from one location to another.&nbsp; The Board of Directors may create branch or subordinate offices at any time and at any place or places where this corporation is qualified to do business.<p></p>
</address>
<h3>Article II.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Purposes</h3>
<h3>Section 2.01&nbsp;&nbsp; General.</h3>
<address>The Institute is a nonprofit public benefit corporation, organized and operated to engage in any lawful activity permitted by Section 501(c)(3) of the Internal Revenue Code of 1986, as amended, and the California Nonprofit Corporation Act (the “Act”).<p></p>
</address>
<h3>Section 2.02&nbsp;&nbsp; Specific Purposes.</h3>
<address>The specific purposes of the Institute include the following:<p></p>
<p>a)&nbsp;&nbsp;&nbsp; To foster and promote education, research, and the development of all forms of innovation and the application of that innovation to the creation of new enterprises that will generate wealth for the benefit society and the world’s economy. The Institute intends to create cooperation between academia, government, and business through a network of leading academics affiliated with an international array of colleges and universities.&nbsp; The Institute will focus on the creation of courses, research and related academic settings through the creation of academic programs that will include educational programs, curriculum, challenges, national and international marketplace competitions, symposiums, and research prizes, awards, internships, and scholarships.</p>
<p>b)&nbsp;&nbsp; To serve as a highly trustworthy, innovative, collaborative organization bringing together and involving college and university faculty and students interested in entrepreneurial programs, national government agencies interested in encouraging economic growth, and enterprises who desire to remain competitive through innovation. This inter-university collaborative will be an organization where students, faculty, universities, government agencies and companies involved in, advancing cutting edge technology, research integration services, as well as vendors, and related industries can routinely plan, co-sponsor, promote, and conduct symposiums, and innovate with students and faculty from throughout the academic community.</p>
</address>
<h3>Article III.&nbsp;&nbsp;&nbsp; Membership</h3>
<h3>Section 3.01&nbsp;&nbsp; Membership Qualifications and Admission; Rights and Privileges of Members.</h3>
<h3>(a)&nbsp;&nbsp;&nbsp; Classes of Membership.</h3>
<address>There shall be the following classes of membership in the Institute:<p></p>
</address>
<ol>
<li>Academic (Individual) or Fellows of the Institute.</li>
<li>Student (Individual)</li>
<li>University (Organization)</li>
<li>Enterprise (Organization)</li>
<li>Government (Organization)</li>
</ol>
<h3>(b)&nbsp;&nbsp;&nbsp; Membership Qualifications.</h3>
<address>The following shall be the requirements for each class of member:<p></p>
<p>&nbsp;</p>
</address>
<ol>
<li><em>&nbsp;</em>Academic (Individual) must be a member of faculty, lecturer, researcher, fellow, of an accredited or nationally certified university, college, or other institute of higher learning and that has a program for the teaching of Innovation and/or Entrepreneurship.&nbsp; The Academic member shall not pay dues to become a member but will need to apply for membership and subsequently receive an invitation to become a member from the Institute.&nbsp; The Board shall have the power to approve anyone as an Academic member of the Institute in the event that they do not meet the criteria above but the Board feels that the Institute would benefit from their membership.&nbsp; Academic members shall have the right to use the title of <em>Fellow of the Applied Innovation Institute.</em></li>
<li>Student (Individual) must be a student enrolled in an accredited or nationally certified university, college, or other institute of higher learning that has as a member of faculty an Academic member of the Institute.&nbsp; The Student member shall not pay dues to become a member.</li>
<li>University (Organization) must be an accredited or nationally certified university, college, or other institute of higher learning and that has a program for the teaching of Innovation and/or Entrepreneurship and who has a member of faculty who is a member of the Institute.&nbsp; The University member shall pay the equivalent of one thousand U.S. ($1,000.00 USD) per annum for their membership.</li>
<li>Enterprise (Organization) must be a corporation who is interested in Innovation and/or Entrepreneurship.&nbsp; The Enterprise member shall pay the equivalent of ten thousand U.S. ($10,000.00 USD) per annum for their membership.</li>
<li>Government (Organization) must be an agency of a super-national, national, or state government who is interested in Innovation and/or Entrepreneurship.&nbsp; The Government member shall pay the equivalent of ten thousand U.S. ($10,000.00 USD) per annum for their membership.</li>
</ol>
<h3>(c)&nbsp;&nbsp;&nbsp;&nbsp; Rights and Privileges of Members.</h3>
<address>The rights and privileges of Members are as follows:<p></p>
</address>
<ol>
<li>Academic (Individual) member shall have voting rights in the annual general meeting of the Institute.&nbsp; They shall also be eligible to propose, participate, and run the programs promoted by the Institute.</li>
<li>Student (Individual) member shall not have voting rights in the annual general meeting but shall be allowed to attend.&nbsp; Student members shall be eligible to participate in the Student academic programs and competitions run by the Institute.</li>
<li>University (Organization) member shall not have voting rights in the annual general meeting but shall be allowed to attend.</li>
<li>Enterprise (Organization) member shall not have voting rights in the annual general meeting but shall be allowed to attend.&nbsp; Enterprise members will be allowed to sponsor the programs runs by the Institute including the competitions.</li>
<li>Government (Organization) member shall not have voting rights in the annual general meeting but shall be allowed to attend.&nbsp; Enterprise members will be allowed to sponsor the programs runs by the Institute including the competitions.</li>
</ol>
<h3>Section 3.02&nbsp;&nbsp; Limitations on Voting Rights of Members.</h3>
<address>Except as may be otherwise provided for by resolution of the Board of Directors, no member shall have the right or be entitled to vote: (a) on a sale, lease, exchange, or other disposition of all or substantially all of the assets of this corporation; (b) on a merger of this corporation; (c) on a dissolution or reorganization of this corporation; or (d) on amendments to this corporation’s Articles or Bylaws.<p></p>
</address>
<h3>Section 3.03&nbsp;&nbsp; Dues, Fees and Assessments.</h3>
<address>The Membership Dues Schedule may be amended or revised by the Board of Directors or its Committee designee; provided, however, that any such amendment or revision shall not operate retroactively, nor shall any increase take effect until such time as any then-current member becomes obligated to pay its next annual membership dues.<p></p>
</address>
<h3>Section 3.04&nbsp;&nbsp; Termination of Membership.</h3>
<address>The membership of any member shall terminate upon the occurrence of any one or more of the following:<p></p>
</address>
<h3>(a)&nbsp;&nbsp;&nbsp; Resignation.</h3>
<address>Any member may resign from this Institute by delivering notice of resignation to the Secretary of this corporation.&nbsp; The resignation of a member shall not relieve the member from any obligations the member may have to this corporation as a result of obligations incurred or commitments made prior to resignation.<p></p>
</address>
<h3>Section 3.05&nbsp;&nbsp; Property Rights.</h3>
<address>No member shall have any right or interest in any of the property or assets of this corporation.<p></p>
</address>
<h3>Section 3.06&nbsp;&nbsp; Non-liability.</h3>
<address>No member shall be liable for the debts, liabilities, or obligations of this corporation merely by reason of being a member.<p></p>
</address>
<h3>Article IV.&nbsp;&nbsp; Membership Meetings</h3>
<h3>Section 4.01&nbsp;&nbsp; Place of Meetings.</h3>
<address>All meetings of members shall be held as determined by the Board of Directors.<p></p>
</address>
<h3>Section 4.02&nbsp;&nbsp; Annual Meetings.</h3>
<address>The annual meeting of the members of this corporation shall be held on a calendar year basis, on such date and at such time and place as determined by the Board of Directors.&nbsp; Annual meetings may be held in any manner permitted by law.<p></p>
</address>
<h3>Section 4.03&nbsp;&nbsp; Special Meetings.</h3>
<address>Special meetings of the membership shall be held at the call of the Board of Directors, the Chairman of the Board of Directors, or members holding ten percent (10%) or more of the voting power of this corporation by a written demand signed, dated, and delivered to the Secretary.&nbsp; Notice of a special meeting shall be given within 30 days following the date the written demand is delivered to the Secretary, in accordance with Section 4.4 below.&nbsp; Special meetings may be held in any manner permitted by law.<p></p>
</address>
<h3>Section 4.04&nbsp;&nbsp; Notice of Meetings.</h3>
<address>The Institute shall deliver to members entitled to vote at the meeting notice of the date, time, place and means of communication of each annual and special meeting of the members at least seven (7) days before the meeting date. Notice of a special meeting shall also include a description of the purpose(s) for which the meeting is called. Notice of an annual or special meeting shall be sent to each member of the Institute who, on the record date for notice of the meeting, is entitled to vote thereat, and such notice shall be delivered to each member’s last address of record by electronic mail or by any other means permitted by the Act.<p></p>
</address>
<h3>Section 4.05&nbsp;&nbsp; Adjourned Meetings.</h3>
<address>Any members’ meeting, annual or special, whether or not a quorum is present, may be adjourned by the vote of a majority of the members either present in person or electronically or by proxy representation.<p></p>
</address>
<h3>Section 4.06&nbsp;&nbsp; Quorum.</h3>
<address>Unless otherwise provided herein, those votes represented at a meeting of the members shall constitute a quorum for the transaction of business.&nbsp; Unless otherwise provided herein, if a quorum is present in person or electronically then any action approved by a majority of the members so present shall be the act of the members.<p></p>
</address>
<h3>Section 4.07&nbsp;&nbsp; Voting.</h3>
<address>Each Academic Individual Member is entitled to one vote on each matter submitted to a vote of the members. Voting shall be by voice vote, unless the chair of the meeting at which such vote takes place directs such voting to be by ballot.<p></p>
</address>
<h3>Section 4.08&nbsp;&nbsp; Action by Written Ballot.</h3>
<address>Any action that may be taken at any annual, regular or special meeting of members may be taken without a meeting if this corporation delivers a written ballot to every member entitled to vote on the matter.&nbsp; Such written ballot shall (i) set forth the proposed action, (ii) provide an opportunity to specify approval or disapproval of each proposed action, and (iii) specify a reasonable time within which to return the ballot to this corporation.&nbsp; Approval by written ballot shall be valid only when the number of votes cast by ballot within the time period specified equals or exceeds any quorum required to be present at a meeting authorizing the action, and the number of approvals equals or exceeds the number of votes that would be required to approve the matter at a meeting at which the total number of votes cast was the/ same as the total number of votes cast by ballot.&nbsp; Ballots shall be distributed to the members in the same manner as notice of a meeting is permitted to be delivered, as provided in Section 4.4, including delivery by electronic mail.&nbsp; All ballots distributed in accordance with this Section 4.8 shall indicate the number of responses needed to meet any quorum requirement and state the percentage of approvals necessary to pass each matter.&nbsp; All written ballots distributed in accordance with this Section 4.8 shall specify a reasonable time by which the ballot must be received in order to be counted.<p></p>
</address>
<h3>Section 4.09&nbsp;&nbsp; Conduct of Meetings.</h3>
<address>Meetings of members shall be presided over by the Chairman of the Board of this corporation, or in his/her absence, by the Vice Chairman, and in the absence of all of them, by the chair chosen by a majority of the members present.&nbsp; The Secretary of this corporation shall act as the secretary of all meetings of members, provided that in his absence the presiding officer shall appoint another member to act as Acting Secretary of the meeting.<p></p>
<p>&nbsp;</p>
</address>
<h3>Article V.&nbsp;&nbsp;&nbsp;&nbsp; Board of Directors</h3>
<h3>Section 5.01&nbsp;&nbsp; Powers.</h3>
<address>Subject to the limitations of the Articles, the Bylaws, and the Act, and subject to the duties of Directors as prescribed by the Bylaws, all corporate powers shall be exercised by or under the authority of, and the business and affairs of this corporation shall be controlled by, the Board of Directors.&nbsp; The Board of Directors shall have the power to select and remove all officers, agents, employees and contractors, and to fix reasonable compensation therefore, to authorize and empower officers or agents to enter into contracts and other commitments on behalf of this corporation, and to appoint and delegate responsibilities and authority to committees, officers and agents.<p></p>
</address>
<h3>Section 5.02&nbsp;&nbsp; Composition of the Board of Directors; Terms.</h3>
<h3>(a)&nbsp;&nbsp;&nbsp; Composition.</h3>
<address>The Board of Directors shall consist of not less than three (3) and no more than nine (9) Directors.&nbsp; The number of Directors shall be set from time to time by resolution of the Board of Directors, but no decrease in number shall have the effect of shortening the term of any incumbent Director.<p></p>
</address>
<h3>(b)&nbsp;&nbsp;&nbsp; Term.</h3>
<address>Each Director shall hold office until his/her successor is properly nominated, elected and qualified, or until his or her earlier death, resignation, or removal.&nbsp; Except for adjustments that the Board of Directors may make from time to time to maintain or create staggered terms, the minimum term of office for each Director shall be three (3) years.&nbsp; The Board of Directors may, in its discretion, make provisions to stagger the terms of the Directors so that each year the terms of approximately one-third of the Board shall expire.&nbsp; There shall be no prohibition on re-election or re-designation of any Director following the completion of that Director’s term of office.&nbsp; Unless elected by written ballot pursuant to Section 4.8, the positions of those Directors completing their terms shall call for nominations and elections to be held at a meeting of members called for such purpose.&nbsp; Procedures governing elections of Directors may be established pursuant to resolutions of the Board of Directors provided that such resolutions are consistent with these Bylaws and the Articles.<p></p>
</address>
<h3>Section 5.03&nbsp;&nbsp; Election of the Board of Directors; Qualification.</h3>
<address>The Directors while serving on the Board of Directors shall be selected in the manner set forth as follows.<p></p>
</address>
<h3>(a)&nbsp;&nbsp;&nbsp; Directors.</h3>
<address>The Members with the right to vote shall elect up to nine (9) Directors. Such Members shall be known as “Directors”. At the first meeting, Members elect Directors.&nbsp;&nbsp; Thereafter, the Members serving on the Board of Directors shall be elected at a meeting of the Members, by ballot authorized by the Act.&nbsp;&nbsp; Each Director must be a member of the Institute or an employee or consultant officially appointed the Institute.&nbsp; Upon termination of such membership pursuant to Section 3.5 for any reason, the Member or appointee shall no longer be authorized to serve as a Director and shall be deemed to have immediately resigned.<p></p>
</address>
<h3>(b)&nbsp;&nbsp;&nbsp; Interim Board of Directors.</h3>
<address>An Interim Board of Directors will serve for the initial period of five years at which time a meeting of the members as set forth in these bylaws will be held to elect a permanent Board of Directors.&nbsp; The Interim Board of Directors shall consist of the incorporators of the Institute or its predecessor and shall be allowed to appoint additional Interim Directors to serve until the regular Board is appointed.&nbsp; The Interim Board shall have all of the powers of the Board.&nbsp; To ensure continuity, the Interim Board of Directors may propose staggered terms of the Interim Board Members.&nbsp; There shall be no less than three or more than nine Interim Directors.&nbsp;&nbsp; The Interim Board Of Directors shall among themselves elect a Chair, Vice Chair, Secretary, and Treasurer and shall conduct all aspects of the business of the Institute, during the interim period of the first five years of the Institute. The Secretary and Treasurer may be the same person.<p></p>
</address>
<h3>(c)&nbsp;&nbsp;&nbsp;&nbsp; Board Committees.</h3>
<address>The Board shall have the power to create and delegate items to committees as they deem is appropriate.<p></p>
</address>
<h3>(d)&nbsp;&nbsp;&nbsp; Chairman Emeritus</h3>
<address>The Board shall have the power to elect up to one Chairman Emeritus.&nbsp; Such position shall be appointed for life.&nbsp; The Chairman Emeritus shall not be counted for the purpose of forming or Quorum of the board nor shall the Chairman Emeritus vote count for board resolutions unless there is no clear majority.<p></p>
</address>
<h3></h3>
<h3>Section 5.04&nbsp;&nbsp; Vacancies.</h3>
<address>Vacancies in the Board of Directors shall be filled in an election.&nbsp; Notwithstanding the foregoing, the Board of Directors may appoint an interim Director to fill any Director vacancy occurring as a result of the amendment of these Bylaws to expand the number of Directors until such time as a successor is elected by the Members.&nbsp; Each Director elected shall hold office until his or her successor is elected.&nbsp; A vacancy or vacancies shall be deemed to exist (i) in the case of loss of any Director pursuant to this Article V, (ii) if the authorized number of Directors is increased without election of the additional Directors so provided for, or (iii) in the case of failure at any time to elect the full number of authorized Directors. No reduction in the number of Directors shall have the effect of removing any Director prior to the expiration or other termination of his term of office.<p></p>
<p>&nbsp;</p>
</address>
<h3>Section 5.05&nbsp;&nbsp; Place of Meetings.</h3>
<address>All meetings of the Board of Directors may be held at any place, within or without the State of California, which has been designated from time to time by resolution of the Board of Directors or by notice of the Chairman of the Board of Directors.<p></p>
<p>&nbsp;</p>
</address>
<h3>Section 5.06&nbsp;&nbsp; Regular Meetings.</h3>
<address>Regular meetings of the Board of Directors will be held at least quarterly, except as may otherwise be specified and noticed by the Board of Directors or by the Chairman of the Board of Directors.<p></p>
<p>&nbsp;</p>
</address>
<h3>Section 5.07&nbsp;&nbsp; Special Meetings.</h3>
<address>Special meetings of the Board of Directors for any purpose(s) may be called at any time by the Chairman of the Board of Directors as well as by two or more of the Directors then in office.<p></p>
<p>&nbsp;</p>
</address>
<h3>Section 5.08&nbsp;&nbsp; Notice of Meetings; Attendance.</h3>
<h3>(a)&nbsp;&nbsp;&nbsp; General.</h3>
<address>Regular scheduled meetings of the Board of Directors shall be held with notice of the date, time and purpose of the meeting.&nbsp; Notice of the time and place of each meeting of the Board of Directors shall be given to each Director not less than seven (7) days before the date of the meeting by means permitted by the Act, including communication in person, by telephone, by electronic mail or other means of electronic transmission.<p></p>
</address>
<h3>(b)&nbsp;&nbsp;&nbsp; Effective Date of Notice.</h3>
<address>Notice of a meeting of the Board of Directors delivered orally is effective when communicated if communicated in a comprehensible manner. Notice of a meeting of the Board of Directors delivered by electronic mail or other means of electronic transmission is effective when transmitted in a manner authorized by the Director.<p></p>
</address>
<h3>(c)&nbsp;&nbsp;&nbsp;&nbsp; Waiver by Purpose Notification.</h3>
<address>Unless otherwise required by the Articles or these Bylaws, neither the business to be transacted at, nor the purpose of, any regular or special meeting of the Board of Directors need be specified in the notice or waiver of notice of such meeting.<p></p>
<p>&nbsp;</p>
</address>
<h3>Section 5.09&nbsp;&nbsp; Action Without Meeting.</h3>
<address>Any action required or permitted under any provision of the Act may be taken without a meeting if all members of the Board of Directors shall individually or collectively consent in writing to such action. &nbsp;The action shall be evidenced by one or more written consents describing the action taken, signed by each Director, and included in the minutes or filed with the corporate records reflecting the action taken.&nbsp; Action taken hereunder is effective when the last Director signs the consent, unless the consent specifies an earlier or later effective date.&nbsp; A consent signed hereunder has the effect of a meeting vote and may be described as such in any document.&nbsp; For purposes of this Section 5.9, “written” includes a communication that is transmitted or received by electronic mail or any other electronic means permitted by the Act.&nbsp; For purposes of this Section 5.9, “sign” includes an “electronic signature” as defined by the Act.<p></p>
</address>
<h3></h3>
<h3>Section 5.10&nbsp;&nbsp; Alternative Means of Communication for Meetings.</h3>
<address>The Board of Directors may permit any or all Directors to participate in a regular or special meeting by, or conduct the meeting through, use of any means of communication by which either of the following occurs: (a) all Directors participating may simultaneously hear or read each other’s communications during the meeting; or (b) all communications during the meeting are immediately transmitted to each participating Director, and each participating Director is able to immediately send messages to all other participating Directors.&nbsp; If a meeting is conducted through use of any means described in this Section 5.10, all participating Directors shall be informed that a meeting is taking place at which official business may be transacted. Further, a Director participating in a meeting through use of any means described in this Section 5.10 is deemed to be present in person at the meeting.<p></p>
</address>
<h2></h2>
<h3>Section 5.11&nbsp;&nbsp; Quorum; Prohibition on Proxy Voting.</h3>
<address>The presence of a majority of the Directors then in office shall constitute a quorum for the transaction of business.&nbsp; Every act taken or decision made by at least a majority of the Directors present at a meeting duly held at which a quorum is present shall be regarded as the act of the Board of Directors unless a greater&nbsp; percentaqge is required by applicable governing law, the Articles, or these Bylaws.&nbsp; Proxy voting by Directors is not permitted.<p></p>
</address>
<h3></h3>
<h3>Section 5.12&nbsp;&nbsp; Indemnity.</h3>
<address>The Institute shall indemnify its Directors to the fullest extent required by Law.<p></p>
</address>
<h2></h2>
<h3>Section 5.13&nbsp;&nbsp; Standard of Conduct.</h3>
<address>Pursuant to the Act, a Director shall discharge the duties of a Director in good faith in a manner the Director reasonably believes to be in the best interests of the Institute.&nbsp; In discharging the duties of a Director, a Director shall be entitled to rely on information, opinions, reports or statements, including financial statements and other financial data, in each case if prepared or presented by: (a) one or more officers or employees of this corporation whom the Director reasonably believes to be reliable and competent in the matters presented; (b) legal counsel, public accountants or other persons as to matters the Director reasonably believes are within the person’s professional or expert competence; or (c) a committee of the Board of Directors of which the Director is not a member, as to matters within the committee’s jurisdiction, if the Director reasonably believes the committee merits confidence.&nbsp; A Director is not acting in good faith if the Director has knowledge concerning the matter in question that makes reliance unwarranted.&nbsp; A Director is not liable to the Institute, any member or any other person for any action taken or not taken as a Director, if the Director acted in compliance with this Section 5.13.&nbsp; The liability of a Director for monetary damages to the Institute and its members shall be eliminated to the fullest extent possible by D&amp;O insurance and as provided by law.<p></p>
</address>
<h3></h3>
<h3>Section 5.14&nbsp;&nbsp; Conflict of Interest Transactions.</h3>
<address>&nbsp;<p></p>
</address>
<h3>(a)&nbsp;&nbsp;&nbsp; Conflict of Interest.</h3>
<address>As used in this section, a “conflict of interest transaction” is a transaction with the Institute in which a Director of the Institute has a direct or indirect interest.&nbsp; A Director has an indirect interest in a transaction if another entity in which the Director has a material interest or in which the Director is a general partner is a party to the transaction, or if another entity of which the Director is a Director, officer or trustee is a party to the transaction and the transaction is or should be considered by the Board of Directors of the Institute.<p></p>
</address>
<h3>(b)&nbsp;&nbsp;&nbsp; Approval.</h3>
<address>A conflict of interest transaction is not voidable or the basis for imposing liability on the Director if the transaction is fair to the Institute at the time it was entered into or is approved either (i) in advance by the vote of the Board of Directors or a committee of the Board of Directors if the material facts of the transaction and the Director’s interest were disclosed or known to the Board of Directors or a committee of the Board of Directors, or (ii) if the material facts of the transactions and the Director’s interest were disclosed or known to the members and they authorized, approved or ratified the transaction.&nbsp; A conflict of interest transaction is so authorized, approved or ratified as follows:<p></p>
<p>(1)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; By Directors.&nbsp; By the Directors, if it receives the affirmative vote of a majority of the Directors on the Board of Directors or a committee of the Board of Directors who have no direct or indirect interest in the transaction; provided that a transaction may not be so authorized, approved or ratified by a single Director. If a majority of the Directors who have no direct or indirect interest in the transaction votes to authorize, approve or ratify the transaction, a quorum is present for the purpose of taking such action.&nbsp; The presence of, or a vote cast by, a Director with a direct or indirect interest in the transaction does not affect the validity of any action so taken hereunder if the transaction is otherwise approved as permitted under Section 65.361 of the Act.</p>
<p>(2)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; By Members.&nbsp; By the members, if it receives a majority of the votes entitled to be counted.&nbsp; Votes cast by or voted under the control of a Director who has a direct or indirect interest in the transaction, and votes cast by or voted under the control of an entity described in subsection (4) of Section 65.361 of the Act may be counted in a vote of members to determine whether to authorize, approve or ratify a conflict of interest transaction hereunder.&nbsp; A majority of the members, whether or not present, that are entitled to be counted in a vote on the transaction hereunder constitutes a quorum for the purpose of taking action hereunder.</p>
</address>
<h3></h3>
<h3>Section 5.15&nbsp;&nbsp; Resignation and Removal.</h3>
<h3>(a)&nbsp;&nbsp;&nbsp; Resignation.</h3>
<address>Any Director may resign at any time by giving written notice to the Board of Directors, the Chairman of the Board of Directors, or the Secretary of this corporation.&nbsp; A resignation is effective when the notice is effective under Section 65.034 of the Act, unless the notice specifies a later effective date.&nbsp; Once delivered, a notice of resignation is deemed irrevocable once accepted by the Board of Directors unless permitted to be withdrawn by the Board of Directors prior to its effective date.<p></p>
</address>
<h3>(b)&nbsp;&nbsp;&nbsp; Removal by Directors.</h3>
<address>Any Director may be removed, either with or without cause, at a meeting called for that purpose by the Board of Directors.&nbsp; Such Director may be removed hereunder only if seventy five percent (75%) of the Directors then in office (whether in person, by proxy or otherwise) approve the removal.<p></p>
</address>
<h3>(c)&nbsp;&nbsp;&nbsp;&nbsp; Removal by Members.</h3>
<address>Any Regular Director may be removed, either with or without cause, at a meeting of the members called for that purpose by the members of the class that elected such Regular Director.&nbsp; Such Director may be removed hereunder only if the number of votes cast to remove the Director would be sufficient to elect the Director at a meeting to elect such Director.<p></p>
</address>
<h1></h1>
<h3>Article VI.&nbsp;&nbsp; Officers</h3>
<h3>Section 6.01&nbsp;&nbsp; Officers.</h3>
<address>The officers of this corporation shall be a Chairman of the Board, Vice Chairman of the Board, Executive Director/CEO, Secretary, Treasurer and such other officers as the Board of Directors may appoint.<p></p>
</address>
<h3></h3>
<h3>Section 6.02&nbsp;&nbsp; Nomination and Election.</h3>
<address>The officers of this corporation shall be elected annually by the Board of Directors in accordance with this Article 6.&nbsp; Each officer shall hold his or her office until he or she shall resign or shall be removed or his or her successor shall be elected and qualified.&nbsp; Elections of officers shall be held promptly following the election of Directors each year, and all Directors may nominate candidates for each officer position.&nbsp; Each officer’s term of office shall be one year.&nbsp; All officers, other than the Executive Director, must be Directors of this corporation.&nbsp; Subject to the other limitations contained in this Section 6.2, there shall be no prohibition on re-election of an officer following the completion of that officer’s term of office.&nbsp; The Board of Directors may, by resolution, establish procedures governing nomination and election of officers that are consistent with these Bylaws.<p></p>
<p>&nbsp;</p>
</address>
<h3>Section 6.03&nbsp;&nbsp; Removal and Resignation.</h3>
<h3>(a)&nbsp;&nbsp;&nbsp; Removal.</h3>
<address>Any non-executive officer may be removed, with cause, by a two-thirds majority the Board of Directors at any regular or special Board meeting.<p></p>
</address>
<h3>(b)&nbsp;&nbsp;&nbsp; Resignation.</h3>
<address>An officer may resign at any time by giving written notice to the Board of Directors, or to any officer of this corporation.&nbsp; Any resignation shall take effect at the date of the receipt of such notice or at any later time specified therein, and, unless otherwise specified therein, the acceptance of such resignation shall not be necessary to make it effective.&nbsp; Such resignation shall not prejudice the rights of this corporation under any contract to which the officer is a party.&nbsp; Once received, a notice of resignation is non-revocable unless otherwise permitted to be withdrawn by the Board of Directors prior to effective date.<p></p>
</address>
<h2></h2>
<h3>Section 6.04&nbsp;&nbsp; Vacancies.</h3>
<address>A vacancy in any office shall be filled in the manner prescribed in the Bylaws for regular appointments to such office.<p></p>
</address>
<h2></h2>
<h3>Section 6.05&nbsp;&nbsp; Chairman of the Board.</h3>
<address>The Chairman of the Board shall preside at all meetings on the Board of Directors. The then-serving Chairman of the Board shall have the authority to cast a tie-breaking vote in the election of any officers other than Chairman of the Board.&nbsp; A candidate for the office of the Chairman must be a Director of this corporation to be eligible to run for election. The Chairman of the Board shall have such other powers and duties as may be designated from time to time by the Board of Directors.<p></p>
<p>&nbsp;</p>
</address>
<h3>Section 6.06&nbsp;&nbsp; Vice Chairman.</h3>
<address>The Vice Chairman shall perform all of the duties of the Chairman of the Board and in so acting shall have all of the powers of the Chairman of the Board in the event of the absence, death, removal, resignation or incapacity of the Chairman of the Board.&nbsp; The then-serving Vice Chairman shall have the authority to cast a tie-breaking vote in the election of the Chairman of the Board.&nbsp; A candidate for the office of the Vice Chairman must be a Director of this corporation in order to be eligible to run for election.&nbsp; The Vice Chairman shall have such other powers and duties as may be designated from time to time by the Board of Directors.<p></p>
<p>&nbsp;</p>
</address>
<h3>Section 6.07&nbsp;&nbsp; Executive Director/CEO.</h3>
<address>The Executive Director shall be the chief executive officer in charge of the Institute’s business and affairs, shall report to the Chairman of the Board, and shall serve by contract under the auspices of the Board of Directors.&nbsp; The Executive Director may execute on behalf of the Institute and, when required, upon approval and at the direction of the Board of Directors, all contracts, agreements, and other instruments.&nbsp; The Executive Director shall from time to time report to the Board of Directors and the Chairman of the Board all matters within the Executive Director’s knowledge affecting the Institute that should be brought to the attention of the Board of Directors.&nbsp; The Executive Director shall have such other powers and duties as may be designated from time to time by the Board of Directors.<p></p>
</address>
<h2></h2>
<h3>Section 6.08&nbsp;&nbsp; Secretary.</h3>
<address>The Secretary shall have overall responsibility for all recordkeeping.&nbsp; The Secretary shall perform, or cause to be performed, the following:&nbsp; (a) official recording of the minutes of all proceedings of the Board of Directors, including the committees thereof, and members’ meeting and actions; (b) provision of notice of all meetings of the Board of Directors and members; (c) authentication of the records of the Institute; (d) maintaining current and accurate membership lists; and (e) any such other powers and duties as may be designated from time to time by the Board of Directors.&nbsp; A candidate for the office of the Secretary must be a Director of this corporation in order to be eligible to run for election.<p></p>
<p>&nbsp;</p>
</address>
<h3>Section 6.09&nbsp;&nbsp; Treasurer.</h3>
<address>The Treasurer shall have overall responsibility for all corporate funds, and shall perform, or cause to be performed, the following:&nbsp; (a) keeping of full and accurate accounts of all financial records of the Institute; (b) deposit of all monies and other valuable effects in the name and to the credit of the Institute in such depositories as may be designated by the Board of Directors; (c) disbursement of all funds when proper to do so; (d) making financial reports as to the financial condition of the Institute to the Board of Directors; and (e) such other powers and duties as may be designated from time to time by the Board of Directors.&nbsp; A candidate for the office of the Treasurer must be a Director of this corporation in order to be eligible to run for election.<p></p>
<p>&nbsp;</p>
</address>
<h3>Section 6.10&nbsp;&nbsp; Standards of Conduct for Officers.</h3>
<address>Pursuant to Section 65.377 of the Act, an officer shall discharge the officer’s duties, in good faith, and in the best interests of the Institute.&nbsp; In discharging the duties of an office, the elected officer shall be entitled to rely on information, opinions, reports or statements, including financial statements and other financial data, in each case if prepared or presented by: (a) one or more officers or employees of this corporation whom the officer reasonably believes to be reliable and competent in the matters presented; or (b) legal counsel, public accountants or other persons as to matters the officer reasonably believes are within the person’s professional or expert competence.&nbsp; An officer is not acting in good faith if the officer has knowledge concerning the matter in question that makes reliance otherwise permitted in this Section 6.10 unwarranted.&nbsp; An officer is not liable to the Institute, any member or any other person for any action taken or not taken as an officer, if the officer acted in compliance with this Section 6.10.&nbsp; The liability of an officer for monetary damages to the Institute and its members shall be eliminated to the fullest extent permitted by the laws of the State of California.<p></p>
</address>
<h3></h3>
<h3>Section 6.11&nbsp;&nbsp; Indemnity.</h3>
<address>the Institute shall indemnify its officers to the fullest extent allowed by the laws of the State of California.<p></p>
</address>
<h1></h1>
<h3>Article VII. Committees</h3>
<h3>Section 7.01&nbsp;&nbsp; Appointment of Committees.</h3>
<address>The Board of Directors may appoint standing committees as the Board of Directors from time to time as deemed necessary or appropriate to conduct the business and further the objectives of this corporation.&nbsp; The appointment by the Board of Directors of any committee having the authority of the Board of Directors shall be by resolution adopted by the Board of Directors.&nbsp; Any committee having authority of the Board of Directors shall consist of at least two (2) or more Directors who serve at the pleasure of the Board of Directors.&nbsp; The Board of Directors shall retain the right to limit the powers and duties of any committee that it has created and to disband any such committees in its sole discretion.<p></p>
</address>
<h3>Section 7.2&nbsp;&nbsp;&nbsp; Powers and Authority of Committees.</h3>
<address>The Board of Directors may delegate to any committee having the authority of the Board of Directors, any of the powers and authority of the Board of Directors in the management of the business and affairs of this corporation; provided, however, that no committee may: (a) authorize distributions; (b) approve or recommend to members dissolution, merger or the sale, pledge or transfer of all or substantially all of this corporation’s assets; (c) elect, appoint, or remove Directors or fill vacancies on the board or on any of its committees; or (d) adopt, amend or repeal the Articles, the Bylaws, or any resolution of the Board of Directors.<p></p>
</address>
<h3></h3>
<h3>Article VIII.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Miscellaneous</h3>
<h3></h3>
<h3>Section 8.01&nbsp;&nbsp; Fiscal Year.</h3>
<address>The fiscal year of this corporation shall end on the last day of June of each year.<p></p>
<p>&nbsp;</p>
</address>
<h3>Section 8.02&nbsp;&nbsp; Inspection of Corporate Records.</h3>
<address>A member’s right to inspect and copy records of the Institute shall be as provided in and subject to the laws of the State of California.<p></p>
<p>&nbsp;</p>
</address>
<h3>Section 8.03&nbsp;&nbsp; Checks, Drafts, Etc.</h3>
<address>All checks, drafts or other orders for payment of money, notes or other evidences of indebtedness issued in the name of or payable to this corporation and any and all securities owned by or held by this corporation requiring signature for transfer shall be signed or endorsed by such person(s) in such manner as from time to time shall be determined by the Board of Directors.<p></p>
<p>&nbsp;</p>
</address>
<h3>Section 8.04&nbsp;&nbsp; Corporate Loans, Guarantees and Advances.</h3>
<address>This corporation shall not make any advances or make any loan of money or property to or guarantee the obligation of any Director or officer.<p></p>
</address>
<h3></h3>
<h3>Section 8.05&nbsp;&nbsp; Maintenance of Records.</h3>
<address>This corporation shall maintain corporate records as required the laws of the State of California.<p></p>
</address>
<h2></h2>
<h3>Section 8.06&nbsp;&nbsp; Political Activities.</h3>
<address>This corporation shall not make any political expenditure or lobbying expenditure.&nbsp; Neither will this corporation engage in any political or lobbying activities which may result in the loss of, or otherwise adversely affect, its status as a tax-exempt organization under the Internal Revenue Code of 1986, as amended.<p></p>
</address>
<h3></h3>
<h3>Section 8.07&nbsp;&nbsp; Form of Ballots.</h3>
<address>Ballots submitted in written, facsimile, or electronic form shall be considered acceptable ballots for all purposes.<p></p>
</address>
<h1></h1>
<h3>Article IX.&nbsp;&nbsp; Effective Date and Amendments</h3>
<h3>Section 9.01&nbsp;&nbsp; Effective Date.</h3>
<address>These Bylaws shall become effective immediately upon their adoption.&nbsp; Amendments to these Bylaws shall become effective immediately as they are adopted unless the Board of Directors provides a effective later date.<p></p>
</address>
<h3>Section 9.02&nbsp;&nbsp; Bylaw Amendments.</h3>
<address>To the fullest extent permitted by law, the authority to make, alter, amend or repeal these Bylaws is vested exclusively in the Board of Directors and may be exercised upon approval of two-thirds of the Directors present at a meeting duly held at which a quorum is present without the vote or consent of any members or third parties.<p></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</address>

                        
          </div>

        </div>




      </div>

      <div id="footer">
	<%= render "/footer" %>
      </div>

    </div>
  </body>
</html>
