


<html>

<head>
  <title>CET - Applied Innovations Institute</title>

  <style>
    body {background:slategrey}
    hr {color:sienna}
    h1 {color:gold; background:navy;}
    h2 {color:black; background:white;}}
  </style>
</head>

    <%= render "/footer"%>

<body>
  
</body>
</html>
