<html>

  <head>
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap-responsive" %>
  </head>
  <body>

    <footer class="modal-footer">
      <div class="row">
	<p>&copy; 2012 Applied Innovation Institute
	  <br>
	  &middot; <a href="/home/aboutus">About Us</a> 
	  &middot; <a href="/home/bylaws">Bylaws</a> &middot;
	</p>
  
      </div>
    </footer>		
    
  </body>
</html>
